source https://api.nuget.org/v3/index.json
storage: none
strategy: max
frameworks: netstandard2.0, net6

nuget Feliz prerelease
nuget FSharp.Core
nuget Microsoft.SourceLink.GitHub content: false, copy_local: false, import_targets: false

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    strategy: max
    frameworks: netstandard2.0, net6

    nuget Microsoft.Build 17.3.2
    nuget Microsoft.Build.Framework 17.3.2
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.MSBuild
    nuget Fake.IO.FileSystem
    nuget Fake.Core.CommandLineParsing
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.DependencyManager.Paket
    nuget FSharp.Core
    nuget BlackFox.Fake.BuildTask