source https://api.nuget.org/v3/index.json
storage: none
strategy: max
frameworks: netstandard2.0, net6

nuget Feliz prerelease
nuget FSharp.Core

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    strategy: max

    nuget Fake.DotNet.Cli
    nuget FSharp.Core
    nuget Fake alpha
    nuget BlackFox.Fake.BuildTask